<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Your Flicks</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Your Flicks</h1>
  <a href="/users/<%= user._id %>/movies/new">Add a New Movie</a>
  <ul>
    <% movies.forEach((movie) => { %>
      <li>
        <a href="/users/<%= user._id %>/movies/<%= movie._id %>">
          <%= movie.title %> - <%= movie.genre %>
        </a>
      </li>
    <% }) %>
  </ul>
</body>
</html>